<div class="bg-dark text-white vh-100">

    <h4 class="text-center py-3">
        HMS
    </h4>

    <ul class="nav flex-column">

        <li class="nav-item">
            <a routerLink="/" class="nav-link text-white">
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/patients" class="nav-link text-white">
                Patients
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/doctors" class="nav-link text-white">
                Doctors
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/appointments" class="nav-link text-white">
                Appointments
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/prescriptions" class="nav-link text-white">
                Prescriptions
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/medical-records" class="nav-link text-white">
                Medical Records
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/billings" class="nav-link text-white">
                Billing
            </a>
        </li>

    </ul>

</div>